<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{user.fname}} {{user.lname}} - User {{user.id}}</title>
</head>
<body>
    <div class="container mt-5">
        <div class="wrapper d-flex justify-content-between align-items-center">
            <h1 class="mb-3">User {{user.id}}</h1>
            <a href="/users" class="btn btn-primary">Home</a>
        </div>
        <p>Name: {{user.fname}} {{user.lname}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.created_at.strftime('%B %d, %Y') }}</p>
        <p>Last Updated: {{user.updated_at.strftime('%B %d, %Y at %I:%M%p')}}</p>
        <a href="/user/{{user.id}}/edit" class="btn btn-primary mt-1 me-3">Edit</a>
        <a href="/user/{{user.id}}/delete" class="btn btn-danger mt-1">Delete</a>
    </div>
</body>
</html>